.root{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #e9ecef;
}

.header {
  display: flex;
  flex-direction: row;
  height: 64px;
  border-bottom: 1px solid #e5e7eb;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 24px;
  flex: 1;
}

.content--left{
    display: block;
}

.content--center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
  height: 48px;
  border-top: 1px solid #e5e7eb;
}