@import "tailwindcss";

body{
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: 'Noto Sans KR', 'Pretendard', -apple-system,
               BlinkMacSystemFont, 'Segoe UI', sans-serif;;
}

#root{
    width: 100%;
    height: 100%;
}